#heading{
    background-color: rgb(22, 22, 22);
    color:rgb(37, 180, 180);
    height:50px;
    padding:20px;
    padding-bottom:10px;
    margin:0px;
    display:flex;
    justify-content:center;
    border-color:rgb(238, 228, 228);


}
body{
    padding:0px;
    margin:0px;
    background-color: rgb(61, 61, 59); ;

}
img{
    height:100px;
    width:100px;
    border:solid;
    border-radius:50%;
    margin:30px;
    
    
   
}
button{
    border-radius: 50%;
    margin:10px;
}
.images{
    display:flex;
    justify-content: center;
    margin-top:40px;
}
.scores{
    display:flex;
    justify-content: center;
    gap:60px;
    color:beige;
    
}
#yourscore{
    display:inline;
}
#computerscore{
    display: inline;
}
#yscore{
    padding-right:80px;
}
#last{
    display: flex;
    justify-content: center;
}
#last1{
    background-color: rgb(17, 226, 226);
    padding:5px;
    border-radius: 50px;
    border-width: 2cm;
    border:solid;
    border-color:rgb(7, 7, 7);
}
img:hover{
    border-color: rgb(243, 243, 247);
}